@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #386E72;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;  /* hiển thị chiều ngang */
    min-height: 1000px; /* hiển thị chiều dọc */
    background: #fff;
    margin: 50px;
    display: grid;  /*hiển thị hàng ngang*/
    grid-template-columns: 1fr 2fr; /*hiển thị hàng ngang*/
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-slide {
    position: relative;
    background: #0B1320;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBX {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.profileText .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText .imgBX:hover {
    transform: scale(1.67);
    border-radius: 16px;
    top: 26px;
}

.profileText h2 {
    color: #fff;
    font-size: 1.4em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.7em;
    font-weight: 300;
}


.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}

.profileText h2 span::selection,
.profileText h2::selection,
.contactInfo ul li span::selection,
.contactInfo ul li span a::selection,
.title::selection {
    color:#e28b1a;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #03a9f4;
}

.contactInfo.hobbies ul li .icon1:hover,
.contactInfo ul li .icon:hover {
    transform: scale(0.9);
    color: #000080;
}

.contactInfo.hobbies ul li .icon1 {
    font-size: 50px;
    color: #03a9f4;
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li span a {
    color: #fff;
    text-decoration: none;
}

/* .contactInfo.language .percent {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #353b48;
    display: block;
    height: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #fff;
}

.contactInfo.language .percent span  {
    position: absolute;
    float: left;
    height: 6px;
    background: #03a9f4;
} */

.profileText {
    padding-top: 40px;
}

.skills .li_wrap,
.hobbies .li_wrap{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    /* background: #292b2f; */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.skills .li_wrap{
    background: #222;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
    margin-top: 5px;
    color: #fff;
}

.skills ul, .hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    color: #03a9f4;
    font-size: 20px;
}

/* phần bên phải */
.semi-bold {
    font-weight: bold;
    font-size: 18px;
}

.container .title {
    margin-bottom: 20px;
}

.container .resume_item {
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}

.container .right-slide {
    width: 520px;
    background: #fff;
    padding: 25px;
}
  
.container .right-slide .bold {
    color: #0bb5f4;
}


.container .right-slide .resume_work ul,
.container .right-slide .resume_education ul,
.container .right-slide .resume_about ul {
    padding-left: 40px;
    overflow: hidden;
}

.container .right-slide ul li {
    position: relative;
}

.container .right-slide ul li .date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1a59e2;
}

.container .right-slide ul li .info {
    margin-bottom: 20px;
}

.container .right-slide ul li:last-child .info {
    margin-bottom: 0;
}

.container .right-slide .resume_about ul li:before,
.container .right-slide .resume_work ul li:before,
.container .right-slide .resume_education ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.container .right-slide .resume_about ul li:after,
.container .right-slide .resume_work ul li:after,
.container .right-slide .resume_education ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #0bb5f4;
}