@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
    background-color: #386E72;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;  /* hiển thị chiều ngang */
    min-height: 1000px; /* hiển thị chiều dọc */
    background: #fff;
    margin: 50px;
    display: grid;  /*hiển thị hàng ngang*/
    grid-template-columns: 1fr 2fr; /*hiển thị hàng ngang*/
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-slide {
    position: relative;
    background: #0B1320;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBX {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.profileText .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText .imgBX:hover {
    transform: scale(1.67);
    border-radius: 16px;
    top: 26px;
}

.profileText h2 {
    color: #fff;
    font-size: 1.4em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.7em;
    font-weight: 300;
}


.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}

.profileText h2 span::selection,
.profileText h2::selection,
.contactInfo ul li span::selection,
.contactInfo ul li span a::selection,
.title::selection {
    color:#e28b1a;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #03a9f4;
}

.contactInfo.hobbies ul li .icon1:hover,
.contactInfo ul li .icon:hover {
    transform: scale(0.9);
    color: #000080;
}

.contactInfo.hobbies ul li .icon1 {
    font-size: 50px;
    color: #03a9f4;
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li span a {
    color: #fff;
    text-decoration: none;
}

.contactInfo.language .percent {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #353b48;
    display: block;
    height: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #fff;
}

.contactInfo.language .percent span  {
    position: absolute;
    float: left;
    height: 6px;
    background: #03a9f4;
}

.Cplusplus {
    width: 80%;
    animation: Cplusplus 3s;
}

.Csharp {
    width: 50%;
    animation: Csharp 3s;
}

.HTMLCSS {
    width: 65%;
    animation: HTMLCSS 3s;
}

.Python {
    width: 10%;
    animation: Python 3s;
}

@keyframes Cplusplus {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes Csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes HTMLCSS {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes Python {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}


/* phần bên phải */

.container .right-slide {
    position: relative;
    padding: 40px;
    background: #A7B3C8;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.heading h2 {
    text-align: center;
}

.heading h2::selection {
    color: #ac3737;
}

.about .aboutBX {
    padding: 30px 65px;
    background: #222;
    color: #fff;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

/* .about .aboutBX:hover {
    background: #ac3737;
    color: #081921;
    transform: scale(1.1);
} */

.about .aboutBX img {
    max-width: 80px;
    filter: invert(1);
}

.about .aboutBX h2 {
    text-align: center;
    font-size:20px;
    font-weight: 600; 
    line-height: 2;
}
.about .aboutBX p::selection,
.about .aboutBX h2::selection,
.about .aboutBX p b::selection {
    color:#fff;
}

.about .aboutBX p {
    text-align: justify;
    width: auto;
    height: auto;
    line-height: 1.7;
}